.section-became-pro {
  min-height: 50rem;
  .hero-image {
    margin: 0;
    height: 100vh;
    position: relative;
    @include respond(tab-port) {
      height: 80vh;
      display: flex;
      flex-direction: column;
    }
    .block-welcome {
      position: absolute;
      right: 0;
      bottom: 15rem;
      background: rgba($color-primary, .8);
      padding: 5rem;
      @include respond(tab-port) {
        padding: 2rem;
        width: 100%;
        bottom: 0;
        position: initial;
        order: 1;
      }
      .block-heading {
        font-family: SFProTextHeavy, sans-serif;
        font-size: 4rem;
        text-transform: uppercase;
        text-align: center;
      }
      .advertising-text {
        max-width: 40rem;
        margin: 0 auto 4.5rem auto;;
        font-size: 1.8rem;
        font-family: SFProText, sans-serif;
        text-align: center;
        color: $color-white;
        letter-spacing: 0.11px;
      }
      .download-text {
        color: $white;
        text-align: center;
        margin-bottom: 1.5rem;
      }
      .badge-wrapper {
        justify-content: space-evenly;
        .badge {
          width: 15rem;
          margin: 0;
          img {
            width: 100%;
          }
        }
      }
    }
    .pro-services-icon {
      position: absolute;
      top: 5rem;
      left: 6.4rem;
      @include respond(tab-port) {
        position: initial;
        padding-top: 5rem;
        padding-left: 6rem;
      }
      img {
        width: 16.5rem;
      }
    }
    .text-main {
      max-width: 62rem;
      position: absolute;
      bottom: 10rem;
      left: 10rem;
      text-align: center;
      @include respond(tab-port) {
        left: 5rem;
        bottom: 25rem;
        padding-bottom: 5rem;
        position: initial;
        width: 100%;
        max-width: 100%;
        text-align: center;
      }
      .page-title {
        font-size: 6rem;
      }
      .heading-sub {
        color: $color-white;
        font-size: 2.5rem;
        letter-spacing: 0.21px;
      }
    }
  }
  .badge {
    margin-bottom: 1rem;
  }
}