.section-how-it-works {
  font-family: SFProText, sans-serif;
  border-bottom: solid 1px rgba($color-grey-dark, .2);
  border-top: solid 1px rgba($color-grey-dark, .2);
  padding: 150px 0;
  .section-title {
    margin-bottom: 5rem;
  }
  .text-content {
    text-align: center;
    @include respond(phone) {
      margin-bottom:3rem;
    }
    .title {
      font-weight: $font-weight-bold;
      font-size: 2.5rem;
      margin-top: 3.5rem;
    }
    .subtitle {
      font-size: 1.8rem;
      color: $color-grey-light-2;
    }
    .icon {
      vertical-align: top;
      height: 85px;
    }
  }
}