.request-settings {
  min-height: 50rem;
  .heading-settings {
    font-family: SFProTextBold, sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
    &__subtitle{
      font-size: 1.3rem;
      color: #BDBDBD;
      letter-spacing: 0.008rem;
      margin-bottom: 7rem;
    }
  }
  .settings-tab {
    display: flex;
    min-height: 50rem;
    .nav {
      border-right: 1px solid #ECECEC;
    }
    .nav-pills {
      padding-top: 10rem;
      padding-right: 7rem;
      .tips {
        display: none;
        font-size: 13px;
        max-width: 19rem;
        letter-spacing: 0.08px;
        color: #828282;
      }
      .nav-link {
        font-family: SFProTextSemiBold;
        font-size: 1.8rem;
        color: $color-black;
        padding-left: 0;
        &.active {
          font-family: SFProTextBold;
          background: transparent;
          color: $color-primary;
        }
      }
    }
    .tab-content {
      padding-left: 6.4rem;
      padding-top: 10rem;
      //padding-bottom: 10rem;
      .service-type{
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        box-shadow: 0 1px 12px 0 rgba(191,191,191,0.50);
        border-top-right-radius: 1.6rem;
        border-top-left-radius: 1.6rem;
        position: relative;
        min-height: 80rem;
        &__header{
          padding: 4rem 5rem;
          border-bottom: 1px solid #E6E6E6;
          display: flex;
          justify-content: space-between;
        }
        &__settings{
          font-size: 1.8rem;
          letter-spacing: 0.011rem;
          .settings-label{
            font-family: SFProTextSemiBold;
            margin-bottom: 0.5rem;
          }
        }
        &__content{
          padding: 5rem;
          .content-title{
            font-size: 1.8rem;
            letter-spacing: 0.011rem;
            font-family: SFProTextSemiBold;
          }
          .professional-group{
            margin-top: 5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .prof-card{
              justify-content: center;
              align-items: center;
              .prof-img{
                height: 7.5rem;
                width: 7.5rem;
                border-radius: 50%;
                background: #D8D8D8;
                position: relative;
                background-size: cover;
                background-image: url(/images/user-avatar.png);
                background-position: center;
              }
              .prof-main-info{
                margin-top: 0.5rem;
                .prof-name{
                  font-family: SFProTextLight;
                  font-size: 1.5rem;
                  letter-spacing: 0.009rem;
                  margin-bottom: 0;
                }
                .prof-review{
                  .stars-section{
                    svg{
                      height: 1.2rem;
                      width: 1.2rem;
                    }
                  }
                }
              }
            }
            .prof-connect-info{
              .prof-message{
                font-family: SFProTextLight;
                font-size: 1.8rem;
                letter-spacing: 0.012rem;
                margin-bottom: 1rem;
              }
              .prof-actions{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .price-tag{
                  display: flex;
                  flex-direction: column;
                  &__label{
                    font-family: SFProTextSemiBold;
                    font-size: 1.8rem;
                    letter-spacing: 0.011rem;
                  }
                }
                .btn{
                  font-family: SFProTextSemiBold;
                  max-width: 15rem;
                  height: 3.6rem;
                  margin-bottom: 0;
                }
              }
            }
          }
        }
        .service-type-actions{
          display: flex;
          position: absolute;
          right: 1rem;
          top: 0.5rem;
          .action{
            padding: 0 1rem;
          }
        }
      }
    }
  }
  .nav-link {
    &.active {
      .tips {
        display: block;
      }
    }
  }
}