.section-services {
  padding-bottom: 150px;
  .section-title {
    margin-bottom: 6rem;
  }
  .carousel {
    width: 100%;
    overflow-x: hidden;
    &__image {
      height: 20.5rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;
      .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($color-grey-dark, .4);
      }
    }
    &__text {
      color: $white;
      font-family: SFProText, sans-serif;
      font-size: 25px;
      font-weight: 400;
      @include absCenter;
    }
  }
}

/* the slides */
.slick-slide {
  margin: 0 27px;
  @include respond(tab-port) {
    margin: 0;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

}

/* the parent */
.slick-list {
  margin: 0 -27px;
  @include respond(tab-port) {
    margin: 0;
  }
}

.slick-arrow {
  position: absolute;
  top: 33%;
  font-size: 0;
  background: transparent;
  border: 0;
  outline: 0;
  @include respond(tab-port) {
    display: none ;
  }
  &.slick-prev {
    left: -65px;
    font-size: 0;
    &:before {
      font-family: FontAwesome;
      content: '\f104';
      font-size: 40px;
    }
  }
  &.slick-next {
    right: -65px;
    &:before {
      content: '\f105';
      font-family: FontAwesome;
      font-size: 40px;
    }
  }
}
.slick-frame {
  visibility: hidden;
}
.slick-frame.slick-initialized {
  visibility: visible;
}