.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-right-medium {
  margin-right: 3rem;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.text-color-primary {
  color: $color-primary;
}
.text-color-black {
  color: $color-black;
}
.font-weight-semibold {
  font-weight: $font-weight-semibold;
}
.container-big {
  max-width:125rem;
  margin: 0 auto;
}