// COLORS
$color-primary: #2CACF3;
$color-green: #7ED321;
$color-grey-light: #7d7d7d;
$color-grey-light-2: #707070;
$color-grey-light-3: #D0D0D0;
$color-grey-light-4: #C3C3C3;
$color-grey: #343434;
$color-grey-dark: #212121;
$color-white: #fff;
$color-black: #000;
// FONT SIZES
$default-font-size: 1.6rem;
// Font Weights
$font-weight-semibold: 600;
